.session-track-ionic {
  color: var(--ion-color-primary);
}

.session-track-aggettivo {
  color: var(--ion-color-aggettivo);
}

.session-track-avverbio {
  color: var(--ion-color-avverbio);
}

.session-track-nome {
  color: var(--ion-color-nome);
}

.session-track-preposizione {
  color: var(--ion-color-preposizione);
}

.session-track-congiunzione {
  color: var(--ion-color-congiunzione);
}

.session-track-pronome {
  color: var(--ion-color-pronome);
}

.session-track-interiezione {
  color: var(--ion-color-interiezione);
}

.session-track-articolo {
  color: var(--ion-color-articolo);
}

.session-track-verbo {
  color: var(--ion-color-verbo);
}

/* Favorite Icon
 * --------------------------------------------------------
 */

.show-favorite {
  position: relative;
}

.icon-heart-empty,
.icon-heart {
  --border-radius: 50%;
  --padding-start: 0;
  --padding-end: 0;

  position: absolute;

  top: 5px;
  right: 5px;

  width: 48px;
  height: 48px;

  font-size: 16px;

  transition: transform 300ms ease;
}

.icon-heart-empty {
  transform: scale(1);
}

.icon-heart {
  transform: scale(0);
}

.show-favorite .icon-heart {
  transform: scale(1);
}

.show-favorite .icon-heart-empty {
  transform: scale(0);
}

h1 {
  margin: 0;
}